/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#018A80;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
   --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}
html{
    overflow-x: hidden;
}
 
body{
    font-family: var(--font-family) !important;
   min-height: 100vh;
   overflow-x: hidden;
   
  
   
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black;
    text-decoration: none;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
i{
    cursor: pointer;
}
.font-sm
{
    font-size: 12px;
}
.text-main
{
    color: var(--main-color);
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}
/* Custom Scrollbar for Sidebar */
.sidebar::-webkit-scrollbar {
    width: 8px; /* عرض الشريط */
  }
  
  .sidebar::-webkit-scrollbar-track {
    background: #ffffff; /* لون خلفية المسار */
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #059669; /* لون thumb (teal-600) */
    border-radius: 9999px;  /* جعل الأطراف دائرية */
    border: 2px solid #ffffff; /* حواف بيضاء */
  }
  
  /* يمكنك إضافة Hover لتغيير لون thumb عند الوقوف */
  .sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #047857;
  }
  button[disabled]{
background-color: rgba(13, 148, 136, .4)!important;
  }